body {
    font-family: Arial, sans-serif;
    background-color: #0d2b1f;
    margin: 0;
}

.header {
    background-color: #103b2a;
    padding: 15px;
    text-align: center;
    color: #e6ffe6;
}

.container {
    width: 50%;
    margin: 30px auto;
    background: #184a36;
    padding: 25px;
    border-radius: 10px;
    color: #c7ffcf;
}

h3 {
    margin-top: 15px;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2d7a57;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #369669;
}

#output {
    background: #e6fff1;
    color: #0d2b1f;
    padding: 15px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 18px;
    border-left: 6px solid #2d7a57;
}
